
body {
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: Arial, serif;
    /* color: #007acc;     */
}

.sidenav {
    background-color: #1e1e1e;
    height: 100%;
    width: 11rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.5rem;
}

.sidenav-text {
    padding: 0.4rem 0.5rem 0.4rem 1rem;
    font-size: 1rem;
    display: block;
}

.main {
    margin-left: 10rem;
    padding: 0rem 0.8rem;
}

div.gallery {
    border: 1px solid lime;
}

div.gallery:hover {
    border: 1px solid hotpink;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 0.9rem;
    text-align: center;
}

/* what does '*' mean here? can it destroy he sidenav?*/
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0rem 0.4rem;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    width: 600px;
    height: 400px;
}









