
body {
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: Arial, serif;
    /* color: #007acc;     */
}

.sidenav {
    background-color: hotpink;
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.5rem;
}

.sidenav-text {
    padding: 0.4rem 0.5rem 0.4rem 1rem;
    font-size: 1.5rem;
    display: block;
}

.main {
    margin-left: 10rem;
    padding: 0rem 0.8rem;
}
